:root {
  /* COLORS */
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 54%);
  --color-dark-blue-1: hsl(213, 19%, 18%);
  --color-dark-blue-2: hsl(216, 12%, 8%);

  --color-gradient-1: #161b21;
  --color-gradient-2: #1e242c;
  --color-circle-background: rgb(38, 49, 60);

  /* TYPOGRAPHY */
  --font-family: "Overpass", sans-serif;

  --font-size-normal: 1.5rem;
  --font-size-big: 1.7rem;
  --font-size-large: 2rem;
  --font-size-huge: 3rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LAYOUT */
  --line-height-big: 2.5rem;

  --letter-spacing-large: 1px;
  --letter-spacing-huge: 3px;

  --spacer-normal: 1rem;
  --spacer-big: 1.5rem;
  --spacer-large: 2rem;
}
