@import url(variables.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
body {
  color: var(--color-grey);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  background-color: var(--color-grey-light);
  display: flex;
  justify-content: center;
}
