@import url(variables.css);

.card {
  width: 32rem;
  height: 50rem;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  padding: var(--spacer-big);
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.18);
}
.card-image img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: var(--spacer-huge);
  box-shadow: 4px 4px 21px -20px rgba(20, 26, 85, 1);
}
.card-title {
  color: var(--color-blue);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-large);
  margin-bottom: var(--spacer-large);
  padding: 0 var(--spacer-big);
}
.card-description {
  padding: 0 var(--spacer-large);
}
